.color{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    line-height: 80px;
    margin-top:10px;
    text-align: center;
    margin-left: 10px;
}
input{
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
}